<div class="container">
    <div class="row">
      <h2 style="color: orangered; text-align: center" class="col col-12">List of customers</h2>
    </div>
    <div class="row mb-3">
      <div class="col col-4 d-flex justify-content-end">
        <button class="btn btn-success" routerLink="/create">Add new customer</button>
      </div>
    </div>
    <table class="table table-bordered table-striped table-hover" border="2">
      <thead class="thead-dark">
      <tr>
        <th scope="col" class="text-center">No.</th>
        <th scope="col" class="text-center">ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col" style="width: 60px" class="text-center">Edit</th>
        <th scope="col" style="width: 60px" class="text-center">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let customer of customersList; let i = index">
        <td class="align-middle text-center">{{i+1}}</td>
        <td class="align-middle">{{customer.id}}</td>
      <td><a routerLink="#" (click)="detail(customer)">{{customer.firstName}}</a></td>
        <td class="align-middle">{{customer.lastName}}</td>
        <td><a class="btn btn-info" (click)="edit(customer)">Edit</a></td>
        <td><a class="btn btn-danger" (click)="delete(customer)">Delete</a></td>
      </tr>
      </tbody>
    </table>
  </div>
  